

.jean{
    text-align: center;
    color: white;

}

.hola{
    text-align: center;
    color:white;
}

.hey{
    text-align: center;
    color:white;


}

.ht{
    text-align: center;
    color:white;

}
.we{
    text-align: center;
    color: white;

}

.ty{
    text-align: center;
    color: white;

}

.er{
    text-align: center;
    color:white;

}

.uy{
    text-align: center;
    color: white;

}
.as{
    text-align: center;
    color: white;

}

.bn{
    text-align: center;
    color:white;

    
}

.xc{
    text-align: center;
    color:white;

}

body {

    background-image: url(https://wallpapersite.com/images/wallpapers/movietime-2560x1440-popcorn-film-4k-8k-374.jpg);
}
.rr {
    color: white;
}

.dd {
    color: white;
}
.ww {
    color: white;
}

.qq{
    color: white;
}
.aa {
    color: white;
}
.ll{
    color: white;
}
.ff{
    color: white;
}
.jj{
    color: white;
}

.zz{
    color: white;
}

.pq {
    color: white;
}

.gf{
    color: white;
}

.qw{
color: white;
}
.er{
    color: white;
}

.ik{
    color: white;
}
.hg{
    color: white;
}

.ds{
    color: white;
}
.uj{
    color: white;
}



.rf{
    color: white;
}

.ws{
    color: white;
}

.dc{
    color: white;
}

.rf{
    color: white;
}

.az{
    color: white;
}

.jk{
    color: white;
}

.yh{
    color: white;
}

.ty{
    color: white;
}


.ui{
    color: white;
}

.hn{
    color: white;
}

.nm{
    color: white;
}

.kl{
    color: white;
}

.vb{
color: white;
}

.cx{
    color: white;
}

.bvc{
    color: white;
}
.mnb{
    color: white;
}

.rew{
    color: white;
}

.qwe{
    color: white;
}

.hgf{
    color: white;
}

.fds{
    color: white;
}

.tre{
    color: white;
}

.jhl{
    color: white;
}

.dfg{
    color: white;
}

.yut{
    color: white;
}

.iou{
    color: white;
}

.red{
    color: white;
}
.wwr{
    color: white;
}

.www{
    color: white;
}

{
    color: white;
}

.qqq{
    color: white;
}

.aaa{
    color: white;
}

.ttt{
    color: white;
}

.rrr{
    color: white;
}

.vvv{
    color: white;
}

.iii{
color: white;
}

.mnn{
    color: white;
}

.jhh{
    color: white;
}

.fdd{
    color: white;
}
.zzz{
    color: white;
}