body {


}

.jean{
    text-align: center;
    color: green;

}

.hola{
    text-align: center;
    color: green;
}

.hey{
    text-align: center;
    color: green;


}

.ht{
    text-align: center;
    color: green;

}
.we{
    text-align: center;
    color: green;

}

.ty{
    text-align: center;
    color: green;

}

.er{
    text-align: center;
    color: green;

}

.uy{
    text-align: center;
    color: green;

}
.as{
    text-align: center;
    color: green;

}

.bn{
    text-align: center;
    color: green;

    
}

.xc{
    text-align: center;
    color: green;

}

body {
    background-color: lightgrey;
}